.scene-container {
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.radio-container {
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: #101010;
  padding: 10px 10px;
  border-radius: 5px;
}

.plain-text {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.capture-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: #101010;
  padding: 10px 10px;
  border-radius: 5px;
}

.capture-button {
  margin-bottom: 4px;
}

.res-selector {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.object-page .gallery-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}