.canvas-container {
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100vh;
  width: 100vw;
}

.center {
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}